li {
    list-style: none;
}

.header {
    background-color: #26d0c9;
    color: aliceblue;
    height: 45px;
}

.footer{
    background-color: #2f5167;
    color: aliceblue;
}

.header-logo {
    float: left;
    font-size: 15px;
    padding: 10px 20px;
}

.mondai {
    height: 100px;
}

.mainlist {
    width: 100%;
}

.mainlist  li{
    float: left;
    padding: 10px 20px;  
    border-bottom: 2px solid #899094;
}
.kotaejpg img{
    float: left;
    width: 10%;
    height: auto;
}
.kotaeleft {
    float: left;
    border-bottom: 2px solid #899094;
}

.kotaeright {
    float: right;
    border-bottom: 2px solid #899094;
}
 .banngou button{
    text-align: center;
    margin: 10px;
    width: 10%;
    height: 10%;
 }

 .next  button{
    float: right;
    margin: 10px;
    width: 17%;
    height: 8%;
 }
 .mondai img {
    float: left;
    width: 100%;
    height: auto;
 }
