body {
    max-width: 1000px;
}

li {
    list-style: none;
}

.header {
    background-color: #26d0c9;
    color: aliceblue;
    height: 50px;
}

.main {
    height: 80vh;
    display: block;
}

.footer{
    background-color: #2f5167;
    color: aliceblue;
    float: left;
    height: 10vh;
    width: 1000px;
}

.header-logo {
    float: left;
    font-size: 15px;
    padding: 10px 20px;
}


.mainlist {
    width: 100%;
}

.mainlist  a{
    float: left;
    padding: 0px 10px;  
    border-bottom: 2px solid #899094;
}
.kotaejpg img{
    float: left;
    width: 10%;
    height: auto;
}

.banngou {
    font-size: 10%;
}
 .banngou button{
    text-align: center;
    margin: 10px 2px;
    width: 9%;
    height: 13%;
 }

 .next  button{
    float: right;
    margin: 10px;
    width: 17%;
    height: 8%;
 }
 .mondai img {
    float: left;
    width: 100%;
    height: auto;
 }

 .gazo {
    float: left;
 }
.kotaekaitou li{
    float: left;
}

.syutten {
    background-color: #2f5167;
}
.test  {
    float: left;
}

.kotaeleft {
    float: left;
    border-bottom: 2px solid #2f5167;
}
.kotaeright {
    float: left;
    border-bottom: 2px solid #2f5167;
}
